/* Bleu foncé */
.bleuCegep{
    color : #092D74;
}

.bg-bleuCegep{
    background-color : #092D74;
}

.border-bleuCegep{
    border: 2px solid #092D74;
}

/* Rouge foncé */
.rougeCegep{
    color : #CF152D;
}

.border-rouge-cegep{
    border: 2px solid #CF152D;
}

.bg-rougeCegep{
    background-color: #CF152D;
}

/* Rouge orangé */
.rougeOrangeCegep{
    color : #EF3832;
}

/* Lilas */
.lilasCegep{
    color : #DFCCE4;
}
.bgLilasCegep{
    background-color: #DFCCE4;
}

.border-lilas-cegep{
    border: 2px solid #DFCCE4;
}

/* Century Gothic */
.fontCegep{
    font-family: century gothic;
}

/* Image en background */
.background1{
    background-image: url("../img/background.png");
    background-color: #DFCCE4;
}

.background2{
    background-image: url("../img/backgroundEmp.png");
    background-color: #092D74;
}