.bleuCegep{
    color : #092D74;
}

.rougeCegep{
    color : #CF152D;
}

.border-rouge-cegep{
    border: 2px solid #CF152D;
}

.rougeOrangeCegep{
    color : #EF3832;
}

.lilasCegep{
    color : #DFCCE4;
}
.bgLilasCegep{
    background-color: #DFCCE4;
}

.fontCegep{
    font-family: century gothic;
}

.bg.bgBleuCegep{
    background-color: #092D74;
}